.google-keys.json
.env
.envrc

.DS_Store

# MCP Config 
.mcp.json

# Node modules
node_modules/
**/node_modules/
**/dist

# Trigger dev
.trigger

# Examples and additional files
Basic Doc Flow.json
document-tasks.reference